.dy-markdown-editor {
	padding: 10px;
	pre {
		min-width: 400px;
		max-width: 500px;
		code {
			.codePreview {
				padding: 10px;
				background-color: beige;
				overflow-x: auto;
				overflow-y: auto;
			}
		}
	}
}